name: Build & Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          IMAGE="ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/syp-main-frontend:latest"
          docker build \
            --build-arg NEXT_PUBLIC_SUPABASE_URL="${{ secrets.NEXT_PUBLIC_SUPABASE_URL }}" \
            --build-arg NEXT_PUBLIC_SUPABASE_ANON_KEY="${{ secrets.NEXT_PUBLIC_SUPABASE_ANON_KEY }}" \
            --build-arg NEXT_PUBLIC_ENVIRONMENT="${{ secrets.NEXT_PUBLIC_ENVIRONMENT }}" \
            --build-arg NEXT_PUBLIC_BACKEND_HOST="${{ secrets.NEXT_PUBLIC_BACKEND_HOST }}" \
            -t $IMAGE .

      - name: Push Docker image
        run: |
          IMAGE_NAME="ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/syp-main-frontend:latest"
          docker push $IMAGE_NAME

 